<a href="https://colab.research.google.com/github/Chantalleon25/Coursera_Capstone2/blob/master/Segmenting%20and%20Clustering%20Neighborhoods%20in%20Toronto2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [26]:

List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [27]:
soup = BeautifulSoup(source, 'xml')

In [28]:
table=soup.find('table')

In [29]:

column_names=['Postalcode','Borough','Neighbourhood']
df = pd.DataFrame(columns=column_names)

In [30]:

for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [31]:
df.head()

  Postalcode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [32]:
df=df[df['Borough']!='Not assigned']

In [33]:
df.head()

  Postalcode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [34]:
temp_df=df.groupby('Postalcode')['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighbourhood':'Neighbourhood_joined'},inplace=True)

In [35]:

df_2 = pd.merge(df, temp_df, on='Postalcode')

In [36]:

df_2.drop(['Neighbourhood'],axis=1,inplace=True)

In [37]:
df_2.drop_duplicates(inplace=True)

In [38]:
df_2.rename(columns={'Neighbourhood_joined':'Neighbourhood'},inplace=True)
df_2.head()

  Postalcode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [39]:

df_2.shape

(103, 3)

In [40]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [41]:
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')

In [42]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [43]:

geo_df.rename(columns={'Postal Code':'Postalcode'},inplace=True)
geo_merged = pd.merge(geo_df, df_merge, on='Postalcode')

In [44]:
geo_data=geo_merged[['Postalcode','Borough','Neighbourhood','Latitude','Longitude']]

In [45]:
geo_data.head()

  Postalcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]